 {% extends 'base.html.twig' %}
 
 {% block title %} Symfony React Starter {% endblock %}
 
 {% block body %}
        prueba componente react: <div id="root"></div> 
        <div id="root"></div>
        <div id="root"></div>
        <div id="root"></div>
        <div id="root"></div>
        <div id="root"></div>
 {% endblock %}