 {% extends 'base.html.twig' %}
 
 {% block title %} Symfony React Starter {% endblock %}
 
 {% block body %}
  <div id="root"></div>
 {% endblock %}
 {% block javascripts %}
  <script src="{{ asset('./build/app.js') }}"></script>
 {% endblock %}