 {% extends 'base.html.twig' %}
 
 {% block title %} Symfony React Starter {% endblock %}
 
{% block body %} 
<div class="container-fluid">
    <div className="row">
        <div className="col-12 col-sm-12 col-md-12 col-lg-12">
            <div id="root"></div>
        </div>
    </div>
</div>
{% endblock %}