 {% extends 'base.html.twig' %}
 
 {% block title %} Symfony React Starter {% endblock %}
 
 {% block body %}
   <div id="barraSuperior"></div>
   <div id="root"></div>
   <div id="piePagina"></div>
 {% endblock %}