<h5>EisenPart - Confirma tu correo para poder ingresar!</h5>
<p>
Estimada/o:
</p>
<p>
    Haz efectuado un cambio de contraseña para la cuenta registrada con el correo <b> {{ emailUsuario }} </b>. Para finalizar el proceso de cambio de contraseña, debes ingresar en el siguiente enlace: &nbsp;
    <a href="{{ url }}">Haz click aqui para confirmar tu cuenta</a>
</p>

<p>
    Si el proceso finaliza correctamente, seras redirigido a <i>www.eisenparts.com</i> y podras ingresar con tu nueva contraseña que registraste.
</p>
<p>
    ¡Muchas gracias por registrarte!
</p>
