<h5>EisenPart - Notificación de cotización!</h5>
<p>
Estimada/o:
</p>
<p>
    Se ha recibido una cotización para el repuesto solicitado: <b> {{ nombreRepuesto }} </b> por un monto de $ <b>{{ monto }}</b>
</p>

<p>
    Para consultar la respuesta del vendedor debe ingresar en <i>www.eisenparts.com</i> y acceder a su cuenta de usuario. Luego debe dirigirse a MIS NOTIFICACIONES, 
    donde se encuentran todas las respuestas recibidas de los vendedores.
</p>
<p>
    ¡Muchas gracias por registrarte!
</p>
