body {
    font-family: 'Montserrat';
}

.containerCentral {
    padding-top: 3%;
    padding-bottom: 3%;
}

.containerColorFondo {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(83,89,95,1) 100%); 
}

footer {
    width: 100%;
    height: 3%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(244,179,27);
    opacity:0.9;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
}

h1,h2,h3,h4,h5 {
    text-transform: uppercase;
    font-weight: bold;
    /* color: rgb(21, 61, 87); */
    color: rgba(244,179,27);
    background-color: rgb(21, 61, 87);
    padding-left: 10%;
    border-radius: 25px;
}

/* h5 {
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(21, 61, 87);
} */

/* .btn-primary, .login-btn, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-block {
    background-color: #53595F 
}  */

/* Modify the backgorund color */ 
.navbar-custom { 
	background-color: rgb(21, 61, 87); 
} 

/* Set the border color to the desired color */ 
.custom-toggler.navbar-toggler { 
	border-color: white; 
} 

/* Setting the stroke to green using rgb values (0, 128, 0) */ 
          
.custom-toggler .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba( 255, 255, 255, 0.9 )' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 

/* Modify brand and text color */ 
.navbar-custom .navbar-brand,
.navbar-brand,.navbar-nav li a, 
.navbar-custom .navbar-text { 
    /* color: white;  */
    color: rgba(244,179,27);
    height: 0%;
    line-height: 95%;
    font-weight: 800;
    font-size: large;
} 

.nav-link-blanco {
    color: black; 
}


.btn-sq-lg {
    width:  80% !important;
    height: 80% !important;
}
  
/* color amarillo hexa #f4b31b color gris #53595f */

.tdBefore {
    display: none;
}

.btn {
    border-radius: 25px;   
    text-transform: capitalize;
}

.btn-primary {
    background: none;
    border: 2px solid rgb(21, 61, 87);
	color: rgb(21, 61, 87);
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: rgb(21, 61, 87);
	border-color: rgb(21, 61, 87);
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: rgb(21, 61, 87);
	color: rgb(21, 61, 87);
	box-shadow: none;
}

.btn-danger {
    background: none;
    border: 2px solid red;
	color: red;
}

.btn-secondary {
    background: none;
    border: 2px solid rgba(83,89,95,1);
	color: rgba(83,89,95,1);
}

.btn-warning {
    background: none;
    border: 2px solid rgba(244,179,27);
	color:rgba(244,179,27);
}

.iconoColor {
    color:rgba(244,179,27);
}