body {
    font-family: 'Montserrat';
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
}

h1,h2,h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(21, 61, 67);
}

.btn-primary, .login-btn, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-block {
    background-color: #53595F 
} 

/* Modify the backgorund color */ 
.navbar-custom { 
	background-color: rgb(21, 61, 67); 
} 

/* Set the border color to the desired color */ 
.custom-toggler.navbar-toggler { 
	border-color: white; 
} 

/* Setting the stroke to green using rgb values (0, 128, 0) */ 
          
.custom-toggler .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba( 255, 255, 255, 0.9 )' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 

/* Modify brand and text color */ 
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
	color: white; 
} 

.nav-link-blanco {
    color: black; 
}
