<h4>EisenPart - Confirma tu correo para poder ingresar!</h4>

<p>
    Te has registrado con el siguiente correo <b> {{ email }} </b>
</p>

<p>
    <a href="{{ path('url') }}">Haz click aqui para confirmar tu cuenta</a>
</p>