<h5>EisenPart - Confirma tu correo para poder ingresar!</h5>
<p>
Estimada/o:
</p>
<p>
    Te has registrado con el siguiente correo <b> {{ emailUsuario }} </b>. Para finalizar el proceso de registro debes ingresar en el siguiente enlace: &nbsp;
    <a href="{{ url }}">Haz click aqui para confirmar tu cuenta</a>
</p>

<p>
    Si el proceso finaliza correctamente, seras redirigido a <i>www.eisenparts.com</i> y podras ingresar con el usuario / contraseña que registraste.
</p>
<p>
    ¡Muchas gracias por registrarte!
</p>
