<h5>EisenPart - Confirma tu correo para poder ingresar!</h5>

<p>
    Te has registrado con el siguiente correo <b> {{ email }} </b>. Para terminar el proceso de registro debes a la brevedad hacer
</p>

<p>
    <a href="{{ path('url') }}">Haz click aqui para confirmar tu cuenta</a>
</p>

<p>
    Si el proceso finaliza correctamente, seras redirigido al login y podras ingresar con el usuario / contraseña que registraste.
    Si el enlace expiro, se te informara como solicitar uno nuevo.
    ¡Muchas gracias por registrarte!
</p>