<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('./bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('./build/app.js') }}"></script>
            <!-- Bootstrap core JavaScript -->
            <script src="{{ asset('./bootstrap/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('./bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
