<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sitio web para solicitar cotizaciones de autopartes en la ciudad de Santa Fe, Argentina">
        <meta name="keywords" content="auto,camion,repuestos,averias,autopartes,cotizacion,compra,venta,motor,componente">
        <meta name="author" content="Cristian Gonzalo Budzicz">
        <title>EisenParts</title>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="./estilosGlobales.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="./build/app.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script src="./bootstrap/jquery/jquery.min.js"></script>
            <script src="./bootstrap/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
    </body>
</html>
