<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sitio web para solicitar cotizaciones de autopartes en la ciudad de Santa Fe, Argentina">
        <meta name="keywords" content="auto,camion,repuestos,averias,autopartes,cotizacion,compra,venta,motor,componente">
        <meta name="author" content="Cristian Gonzalo Budzicz">
        <meta name="google-signin-client_id" content="775255573684-f20unn7pj53doijh2cofbj3g44c68up3.apps.googleusercontent.com">
        <title>EisenPart</title>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="https://www.eisenparts.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://www.eisenparts.com/estilosGlobales.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="containerColorFondo">
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="./build/app.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script src="https://www.eisenparts.com/bootstrap/jquery/jquery.min.js"></script>
            <script src="https://www.eisenparts.com/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- login con gmail -->
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            {# script para prevenir pagos rechazados por mercadopago #}
            <script src="https://www.mercadopago.com/v2/security.js" view="home"></script>
        {% endblock %}
    </body>
</html>
